<div class="modulo-container">

  <h2>Ingreso de Inventario</h2>
  <p>Registra un nuevo activo seleccionando primero el proyecto y luego los datos correspondientes.</p>

  <div class="card-siac">

    <label>Proyecto</label>
    <select id="proyecto">
      <option value="" disabled selected>Selecciona proyecto...</option>
      <option>ECOPETROL</option>
      <option>OCENSA</option>
    </select>

    <label>Categoría</label>
    <select id="categoria" disabled>
      <option value="" disabled selected>Selecciona un proyecto...</option>
    </select>

    <div id="campos" class="form-grid">
      
    </div>

    <button id="btnGuardar" class="btn-siac">
      Guardar activo
    </button>

  </div>

</div>