<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - SIAC_VPN</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>
<body>

<div class="background-blur"></div>

<div class="login-container">

    <div class="logo">
        SIAC_VPN
    </div>

    <h2>Sistema de Gestión de Activos</h2>

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alerta">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}

    <form action="/validar" method="POST"> <!-- Corregir "{{ url_for('auth.validar') }}"-->

        <div class="input-group">
            <label>Usuario</label>
            <div class="input-icon">
                <i class="fas fa-user"></i>
                <input type="text" name="usuario" required>
            </div>
        </div>

        <div class="input-group">
            <label>Contraseña</label>
            <div class="input-icon">
                <i class="fas fa-lock"></i>
                <input type="password" name="clave" required>
            </div>
        </div>

        <button type="submit" class="btn-login">
            Ingresar
        </button>

    </form>

    <div class="footer">
        © 2026 - Proyecto Universitario
    </div>

</div>

</body>
</html>